<!DOCTYPE html>
<html lang="en">
{{> head title="เกี่ยวกับโครงการ" }}
<body class="bg-gray-300">
    {{> header }}
    <div class="m-3">
        <div class="w-full bg-white rounded p-3">
            <h1 class="text-center">เกี่ยวกับโครงการ</h1>
        </div>
    </div>
    {{> footer }}
</body>

</html>