<!DOCTYPE html>
<html lang="en">
{{> head title="ชั้น" }}
<body class="bg-gray-300">
    {{> header }}
    <div class="m-3">
        <div class='grid grid-cols-3 grid-rows-8 gap-3'>
            <div class='bg-white rounded-md col-span-2 p-3'>
                <div class='flex justify-center cursor-pointer'>
                    <p class='pr-2'>ชั้น</p>
                </div>
            </div>
            <div class='bg-white rounded-md row-span-4 p-3'>
            </div>
            <div class='rounded-md col-span-2 row-span-5 p-3'>
            </div>
            <div class='bg-white rounded-md row-span-4 p-3'>
                <p class='text-center'>ลักษณะการใช้งานพื้นที่รวม</p>
            </div>
            <div class='col-span-2'>
                <div class='grid grid-cols-2 gap-3'>
                    <div class='bg-white rounded-md p-3'>
                        <p class='text-center'>ดาวน์โหลดแปลน</p>
                    </div>
                </div>
            </div>
            <div class='col-span-2'>
                <div class='grid grid-cols-2 gap-3'>
                    <div class='bg-white rounded-md p-3'>
                        <p class='text-center'>PM</p>
                    </div>
                    <div class='bg-white rounded-md p-3'>
                        <p class='text-center'>Temperature</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> footer }}
</body>

</html>